.quiz-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.quiz-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #ff0095;
  margin: 3px;
}

.quiz-option-button:hover {
  cursor: pointer;
}
